body {
  background-image: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/nasty_fabric.png)
}
canvas{
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.controls-outer {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.controls-inner {
  background-color: #f9f9f9;
  width: 40%;
  padding: 3%;
  margin: 5% auto;
  z-index: 1001;
  border-radius: 25px;
  -webkit-filter: drop-shadow(16px 16px 10px rgba(0,0,0,0.9));
  filter: drop-shadow(16px 16px 10px rgba(0,0,0,0.9));
}

.controls-inner ol {
  font-size: 1.5em;;
  font-family: 'Original Surfer', cursive;
}

#buttons {
  text-align: center;
}
.btn-outer {
  display: inline-block;
  margin-top: 50px;
}
.button {
  border-radius: 25px !important;
  font-size: 1.5em;
  background-color: lightgray;
  font-family: 'Original Surfer', cursive;
}